@font-face {
	font-family: "bahamal0";
	src: url("fonts/bahamal0.ttf");
}

@font-face {
	font-family: "bahamas0";
	src: url("fonts/bahamas0.ttf");
}

@font-face {
	font-family: "bahamasb";
	src: url("fonts/bahamasb.ttf");
}

@font-face {
	font-family: "desyrel";
	src: url("fonts/desyrel.ttf");
}

@font-face {
	font-family: "koalab";
	src: url("fonts/koalab.ttf");
}

@font-face {
	font-family: "oldstandard-bold";
	src: url("fonts/oldstandard-bold.ttf");
}
 
@font-face {
	font-family: "oldstandard-regular";
	src: url("fonts/oldstandard-regular.ttf");
}

@font-face {
	font-family: "xaltrn2u";
	src: url("fonts/xaltrn2u.ttf");
}
