body {
	padding: 1.5rem;
	font-size: .8rem;
}

form > section {
	float: left;
	margin: 0 3rem 1.5rem 0;
}

	form section .color-selection option {
		color: hsl(0, 0%, 100%);
	}

	form section.submit {
		float: none;
		clear: both;
	}

		form section.submit input {
			padding: .5rem;
		}

.preview {
	display: flex;
	flex-wrap: wrap;
}

.preview .front,
.preview .back {
	flex: 0 0 auto;
	width: 495px;
	height: 278px;
	margin-right: 1.5rem;
	margin-bottom: 1.5rem;
	border: 1px solid hsl(0, 0%, 70%);
	box-shadow: 5px 5px 5px hsl(0, 0%, 80%);
	position: relative;
	overflow: hidden;
}

	.front {
		background-image: url('background-front.png');
	}

	.back {
		background-image: url('background-back.png');
	}

		.back.inactive {
			opacity: 0.3;
		}

	/* Positioning */
	.front > div,
	.back > div,
	.front > table {
		position: absolute;
	}

	.front div.company {
		top: 30px;
		left: 30px;
	}

	.front div.fullname {
		top: 35px;
		left: 250px;
	}

	.front div.title {
		top: 65px;
		left: 250px;
	}

	.front div.address {
		top: 120px;
		left: 250px;
	}

	.front table.contacts {
		top: 180px;
		left: 250px;
	}

	.back div.company {
		top: 100px;
		left: 0;
		right: 0;
		text-align: center;
	}

/* Typography */
.preview {
	font-size: 12px;
}

	.preview div.company {
		font-size: 35px;
		font-weight: bold;
	}

	.preview div.fullname {
		font-size: 20px;
		font-weight: bold;
		white-space: nowrap;
	}

	.preview table.contacts th {
		font-weight: normal;
		text-align: left;
		padding-right: 10px;
	}